@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');


/* All */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Container */
div.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Game Title */
h1#titleGame{
  font-size: 3em;
  margin-bottom: 50px;
}

/* Game container */
div.tableGame{
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
}

/* Game Rows */
div.row{
  display: flex;
}

div.row:nth-child(1), div.row:nth-child(2){
  border-bottom: 2px solid black;
}

/* Buttons of game */
button.item{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 116px;
  font-size: 4em;
}

button.item:nth-child(1), button.item:nth-child(2){
  border-right: 2px solid black;
}

/* Modal */
div#modal{
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, .6);
}

div#modal div#modal-container{
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  gap: 1em;
}

@media(max-width: 600px){
  div.tableGame{
    width: 80vw;
  }
}